/* ====================
    Custom properties  
====================== */
:root 
{
    /* colors */
    --clr-dark: 0 0% 9%;
    --clr-light: 33 100% 96%;
    --clr-accent: 25 63% 81%;

    /* Font Sizes */
    --fs-h1: 3rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.05rem;
    --fs-body: 1rem;

    /* Font Weights */
    --fw-light:300;
    --fw-reg: 400;
    --fw-bold: 700;

    /* font-families */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Oregano', cursive;
}
@media (min-width:35em) 
{
    :root {
        --fs-h1: 4rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.22rem;
        --fs-body: 1rem;
    }
}

@media (min-width:45em) 
{
    :root {
        --fs-h1: 5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.1rem;

    }
}

/* ===========
    Reset  
============== */

/* == Box-sizing ==  */
/* == Remove default margin == */
/* == Remove default padding == */
*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* == Set up the body == */
body
{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-light) );
    line-height: 1.5;
    min-height: 100vh;
}
/* == Remove text decoration on links ==*/
a
{
    text-decoration: none;
}
/* == Remove text decoration on links ==*/
img,
picture
{
    max-width: 100%;
    display: block;
}
/* == Remove text decoration on links ==*/
input,
button,
textarea,
select
{
    font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) 
{

    *,
    *::before,
    *::after 
    {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* ====================
    Utility classes
======================*/
/* == General == */
.flex 
{
    display: flex;
    gap: var(--gap, 1rem);
}
.grid
{
    display: grid;
    gap: var(--gap, 1rem);
}
.d-block 
{
    display: block;
}
.flow > * + * /*---*+*==*:not(:first-child)---*/
{
    margin-top: var(--flow-space, 1rem);
}
.flow--space-small
{
    --flow-space: .75rem;
}
.container
{
    padding-inline: 1em;
    margin-inline: auto;
    max-width: 90rem;
}
@media (min-width:25em)
{
    .container 
    {
        padding-inline: 2em;     
    }
}

.link-btn 
{
    display: inline-block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-button
{
    display: block;
    text-decoration: none;
    margin-block:1em;
}
.back-button span:hover 
{
    text-decoration: underline;
}
    
/* == Colors == */

.bg-dark {background-color: hsl( var(--clr-dark) );}
.bg-accent {background-color: hsl(var(--clr-accent));}
.bg-light {background-color: hsl(var(--clr-light));}

.text-dark{color: hsl(var(--clr-dark));}
.text-accent{color: hsl(var(--clr-accent));}
.text-light{color: hsl(var(--clr-light));}

/* == Typography == */
.ff-primary{font-family: var(--ff-primary);}
.ff-secondary{font-family: var(--ff-secondary);}

.letter-spacing-1 { letter-spacing: 2.5px; }
.letter-spacing-2 { letter-spacing: 1.5px; }
.letter-spacing-3 { letter-spacing: 1px; }

.fs-h1{ font-size: var(--fs-h1); }
.fs-h2{ font-size: var(--fs-h2); }
.fs-h3{ font-size: var(--fs-h3); }
.fs-body{ font-size: var(--fs-body); }

.fs-h1,
.fs-h2,
.fs-h3
{
    line-height: 1.1;
}

.fw-light{font-weight: var(--fw-light);}
.fw-reg{font-weight: var(--fw-reg);}
.fw-bold{font-weight: var(--fw-bold);}

.uppercase{text-transform: uppercase;}

/* ====================
    Components
======================*/
.wrapper
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* == HEADER CSS == */
header
{
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
}
nav a 
{
    color: #4D4D4D;
    padding-bottom: 4px;
}
nav a:hover
{
    color: #161616;
    border-bottom: 1px solid #161616;
}
/* == HOST NAV CSS == */
.host-nav
{
    margin-bottom: 2em;
}
.host-nav-detail
{
    margin-block: 1.25em;
}
/* == MAIN CSS == */
main
{
    margin-bottom: 4em;
}
/* == Footer CSS == */
footer
{
    padding-block: 1em;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;   
    background-color: #3B3C36;
}
/*3B3C36 79443B*/
/* == HOME CSS == */
.home-container
{
    background-image: url(./assets/bg-hero.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #666666;
    background-blend-mode: multiply;
    height: calc(100vh - 13vh)
}
.home-content
{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 36rem;
    text-align: center;
}
.home-title
{
    line-height: 0.9;
}
.home-btn 
{
    padding: 0.75em 2em;
    background-color: #8B0F19;
}
/* == ABOUT PAGE CSS == */
.about-page-container .container
{
    max-width: 70rem;
    margin-left: auto;
}
.about-hero
{
    height: 50vh;
    background-image: url(./assets/about-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom center;
}
.about-page-content
{
    margin-block: 2.5em;
}
.about-page-content h2
{
    margin-bottom: 0.75em;
}
.about-page-content p 
{
    margin-top: 1em; 
}
.about-page-cta
{
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 2em; 
    flex-direction: column;
}
.link-btn-cta
{
    padding: 0.75em 1.75em;
    border-radius: 10px;
    align-self: start;
}
@media (min-width:45em) 
{
    .about-page-cta
    {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* FBCEB1*/

/* == VANS PAGE CSS == */
.van-list-container
{
    margin-top: 2.5em;
    flex-direction: column;
}
.van-list
{
   justify-items: center;
}
@media (min-width:36em) 
{
    .van-list
    {
        grid-template-columns: 1fr 1fr;
    }
}
.van-tile
{
    margin-bottom: 1.5em;
}
.van-tile a
{
    height: 100%;
    flex-direction: column;
}
.van-img
{
    border-radius: 5px;
    height: 90%;
}
.van-info
{
    justify-content: space-between;
    align-items: center;
}
.van-type
{
    font-style: normal;
    align-self: flex-start;
    padding: 0.3em 0.75em;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    border-radius: 5px;
}
@media (min-width:35em) 
{
    .van-type
    {
        padding: 0.5em 1.25em;
    }
}
.van-type.selected
{
    color: #FFEAD0;
}
.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
}
.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}
/* == VAN PAGE CSS == */
.van-detail-container
{
    margin-top: 4em;
}
.van-detail
{
    flex-direction: column;
}
.van-detail-info
{
    flex-direction: column;
}
.van-detail img 
{
    border-radius: 5px;
    max-width: 100%;
}

@media (min-width:61.875em) 
{
   .van-detail
   {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
   }
   .van-detail img 
   {
       max-width: 45%;
   }
}
.van-detail button
{
    align-self: start;
    padding: 0.75em 2em;
}
/* == HOST VANS PAGE CSS == */

.van-host-list-container
{
    flex-direction: column;
}
.van-host-list
{
    margin-top: 1.5em;
    flex-direction: column;
}

.host-van-tile
{
   align-items: center;
   background-color: white;
   padding: 1em;
}
.host-van-tile > img {
    height: 100px;
    border-radius: 5px;
}
@media (min-width:50em) 
{
    .van-host-list
    {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .host-van-link-tile 
    {
        min-width: 420px;
    }
    .host-van-tile
    {
        padding: 1.25em;
    }
    .host-van-tile > img 
    {
        height: 140px;
    }
}
/* == HOST VAN DEATIL PAGE CSS == */
.host-van-detail-container
{
    background-color: white;
    padding: 1.5em;
}
.host-van-detail
{
    gap: 1rem;
    align-items: center;
}
.host-van-detail-info
{
    flex-direction: column;
}
.host-van-detail > img 
{
    height: 130px;
    border-radius: 5px;
}
@media (min-width:35em) 
{
    .host-van-detail
    {
        gap:2rem
    }
    .host-van-detail > img 
    {
        height: 160px;
    }
}
/* == HOST VAN INFO CSS == */
.host-van-info-container
{
    flex-direction: column;
    font-size: 0.85rem;
    max-width: 1000px;
}
.host-van-deatil-photo
{
    max-width: 200px;
}